page-login {
  #login {

    .scroll-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: white;
      .login-header {
        width: 100%;
        height: 40%;
        background-image: url('../assets/login-bg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: border-box;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .login-logo{
          width: 100%;
          max-width: 150px;
        }
      }

    }
  }
  ion-input.not-equals{
    input{
      color:#FF0000;
    }
  }
  ion-input.equals{
    input{
      color:#16B266;
    }
  }
}
