<ion-header>
  <ion-navbar hideBackButton *navbar swipeBackEnabled="false">
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="login" no-bounce swipeBackEnabled="false">
  <div class="login-header">
    <img class="login-logo" src="assets/login-logo.png" alt="">
  </div>
  <ion-list>
    <ion-list-header color="domulight" text-center>
      <i>One app to rule them all.</i>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-input type="email" name="email" [(ngModel)]="email"
        placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" item-left></ion-icon>
      <ion-input type="password" name="password" [(ngModel)]="password"
        placeholder="Password"></ion-input>
    </ion-item>
    <ion-item *ngIf="signUpIsPushed">
      <ion-icon name="refresh" item-left></ion-icon>
      <ion-input type="password" name="confirm_pw" [(ngModel)]="confirm_pw"
      [ngClass]="confirmationClass" (ngModelChange)="checkPasswordConfirmation()"
      placeholder="Confirm Password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="!signUpIsPushed">
    <ion-row>
      <ion-col col-6>
        <button ion-button block clear (click)="signUp()" color="domulight">
          SignUp</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="login()" color="domulight">
          Login</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="signUpIsPushed">
    <ion-row>
      <ion-col col-6>
        <button ion-button block (click)="signUp()" color="domulight">
          SignUp</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block clear (click)="login()" color="domulight">
          Login</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="omk-container">
    <img class="omk-logo" src="assets/omk-logo.png" alt="">
  </div>
</ion-content>
